.container {
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(128, 128, 128, 0.516);
    max-width: 400px;
    gap: 1px;
    font-size: 1.5rem;
}
.container > img {
    max-width: 1400px;
}
.container > p, h2 {
    border-bottom: 2px solid rgba(128, 128, 128, 0.516);
}

