.container {
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(128, 128, 128, 0.516);
    max-width: 400px;
    gap: 1px;
}
.container > img {
    max-width: 1400px;
}
.container > p, h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid rgba(128, 128, 128, 0.516);
}
.container > p :nth-child(5) {
    border-bottom: none;
}
